.NewsList {
  padding: 0;
}

.NewsList__item {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  padding: 16px;

  @include hover {
    background-color: hsl(0, 0, 95);
  }

  @include active {
    background-color: #fff;
  }
}

.NewsList__headline {
  margin-bottom: 3px;
}
