.QuoteList {
  padding: 0;
}

.QuoteList__loading {
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  height: 654px;
  color: hsl(0, 0, 80);
  width: 100%;
}

.QuoteList__info {
  flex: 1;
  padding-right: 16px;
  min-width: 0;
}

.QuoteList__item {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 16px;
  min-width: 0;

  @include hover {
    background-color: hsl(0, 0, 95);
  }

  @include active {
    background-color: #fff;
  }
}
