.StockChart {
  padding: 0;
}

.StockChart__loading {
  align-items: center;
  color: hsl(0, 0, 80);
  display: flex;
  justify-content: center;
  font-size: 48px;
  height: 400px;
}

.StockChart__buttons {
  display: flex;
  justify-content: space-between;

  @include min-width('md') {
    display: block;
  }
}

.StockChart__button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: $text-color-light;
  font-size: 15px;
  font-weight: 500;
  padding: 6px;

  @include hover {
    color: $text-color-normal;
  }

  @include active {
    color: $text-color-light;
  }

  @include focus {
    outline: none;
  }

  @include min-width('md') {
    padding: 6px 10px;
  }
}

.StockChart__button--selected {
  border-color: $blue;
  color: $blue;

  @include hover {
    color: $blue;
  }

  @include active {
    color: $blue;
  }
}
